body {
    background-color: #f4f4f4;
    margin: 0px auto;
    padding: 20px;
}


header {
    width: 600px;
    height: 75px;
    margin: 0 auto;
    font-family: Arial, sans-serif; 
}

.right-side {
    float: right;
    margin-top: 10px;
    margin-left: 15px;
}

.right-side a {
    color: rgb(122, 122, 122);
    text-decoration: none;
    padding: 5px;
}

.left-side {
    float: left;
}

.left-side h1 {
    display: inline;
    font-weight: lighter;
    color: rgb(61, 61, 61);
    font-size: 30px;
}

article h1 {
    text-align: center;
    font-size: 30px;
    font-family: Arial, sans-serif;
    font-weight: lighter;
    color:  rgb(61, 61, 61);
}

article {
    text-align: left;
    width: 600px;
    margin: 0 auto;
    padding: 0px;
}

article p {
    color: rgb(61, 61, 61);
    font-size: 15px;
}


.article-links {
    text-align: center;
    margin-right: 385px;
}

.article-links a {
    color: rgb(175, 175, 175);
    text-decoration: none;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-weight: lighter;

}

button {
    background-color: #508bc7;
    padding: 5px 20px 5px 20px;
    margin-left: 220px;
    margin-top: 5px;
    margin-bottom: 10px;
    color:  #f4f4f4;
    border-radius: 4px;
}

footer {
    text-align: center;
    padding: 40px;
    color: rgb(122, 122, 122);
    font-family: Arial, sans-serif;
    font-weight: lighter;
    font-size: 12px;
}


.date{
    padding: 0px;
    text-align: center;
    color:rgb(175, 175, 175);
    text-transform: uppercase;
    font-size: 11px;
    font-family: Arial, sans-serif; 
    font-style: bold;
}

